@model DistanceEducation.Models.Discipline

@{
    ViewData["Title"] = "Edit";
}

<h1 class="question">Редактировать дисциплину</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DisciplineName" class="control-label">Название дисциплины</label>
                <input asp-for="DisciplineName" class="form-control" />
                <span asp-validation-for="DisciplineName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="serch-btn btn-otpravit" />
            </div>
        </form>
    </div>
</div>
<br>

<div>
    <a asp-action="Index" class="serch-btn btn-otpravit">Вернуться к списку дисциплин</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
