@model DistanceEducation.Models.DisciplineGroup;

@{
    List<Discipline> discipline = ViewData["Discipline"] != null ? (List<Discipline>)ViewData["Discipline"] : null;
}

<div>
    <form asp-action="AddDiscipline">
        <label asp-for="DisciplineId">Выберите предмет</label>
        <select asp-for="DisciplineId">
            <option value="">Выберите предмет</option>
            @foreach (var item in discipline)
            {
                <option value="@item.Id">@item.DisciplineName</option>
            }
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>