@model DistanceEducation.Models.Question;

@{

}


<div>
    <form asp-action="WriteAnswers">
        <label asp-for="Title">Введите вопрос</label>
        <input asp-for="Title" />

        <label asp-for="typeQuestion">Выберите тип вопроса</label>
        <select asp-for="typeQuestion">
            <option value="">Тип вопроса</option>
            <option value="1">С одним вариантом ответа</option>
            <option value="2">С несколькими вариантами ответов</option>
        </select>

        <button type="submit">Выбрать</button>
    </form>
</div>