@model DistanceEducation.Models.Question;

@{
    int typeQuestion = Convert.ToInt32(ViewData["typeQuestion"]);
    if (ViewData["Answer1"] != null)
    {
        string answer1 = ViewData["Answer1"].ToString();
    }
    if (ViewData["Answer2"] != null)
    {
        string answer2 = ViewData["Answer2"].ToString();
    }
    if (ViewData["Answer3"] != null)
    {
        string answer3 = ViewData["Answer3"].ToString();
    }
    if (ViewData["Answer4"] != null)
    {
        string answer4 = ViewData["Answer4"].ToString();
    }
        if (ViewData["Answer5"] != null)
        {
            string answer5 = ViewData["Answer5"].ToString();
        }
            if (ViewData["Answer6"] != null)
            {
                string answer6 = ViewData["Answer6"].ToString();
            }
            if (ViewData["Answer7"] != null)
            {
                string answer7 = ViewData["Answer7"].ToString();
            }
            if (ViewData["Answer8"] != null)
            {
                string answer8 = ViewData["Answer8"].ToString();
            }
            if (ViewData["Answer9"] != null)
            {
                string answer9 = ViewData["Answer9"].ToString();
            }
            if (ViewData["Answer10"] != null)
            {
                string answer10 = ViewData["Answer10"].ToString();
            }
        }

<div>
    <form asp-action="">
        @if (typeQuestion == 1)
        {
            <p>Вопрос с одним вариантом ответа</p>
            if (ViewData["Answer1"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 1</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer1">
            }
            if (ViewData["Answer2"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 2</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer2">
            }
            if (ViewData["Answer3"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 3</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer3">
            }
            if (ViewData["Answer4"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 4</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer4">
            }
            if (ViewData["Answer5"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 5</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer5">
            }
                if (ViewData["Answer6"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 6</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer6">
            }
                if (ViewData["Answer7"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 7</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer7">
            }
            if (ViewData["Answer8"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 8</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer8">
            }
            if (ViewData["Answer9"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 9</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer9">
            }
            if (ViewData["Answer10"] != null)
            {
                <label asp-for="RightAnswer">Вариант ответа 10</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="Answer10">
            }
          <button type="submit">Выбрать</button>  
@*            
            @for (int i = 1; i < 11; i++)
            {
                Answer = "Answer" + i.ToString();
                <label asp-for="RightAnswer">Вариант ответа @i</label>
                <input asp-for="RightAnswer" name="answer" type="radio" value="@Answer">
            }
            <input asp-for="RightAnswer" type="radio" value="answer">
        }
*@
}
    </form>

</div>