@{
    List<Teacher> teachers = ViewData["Teacher"] != null ? (List<Teacher>)ViewData["Teacher"] : null;
}

<div>
    <h1>Личный кабинет учителя</h1>
    <hr />
    <h3>Добро пожаловать, @teachers.Select(a=>a.Surname).FirstOrDefault() @teachers.Select(a=>a.Name).FirstOrDefault() @teachers.Select(a=>a.Patronymic).FirstOrDefault()!</h3>

    <hr />

    <div>
        <a asp-action="MakeTest">Создать тест</a> <hr />
        <a asp-action="TestList">Список тестов</a>
    </div>

</div>