<div>
    <h1 class="question">Добро пожаловать</h1>

    <hr />
    <a asp-controller="AdminTeacher" asp-action="Index" class="serch-btn btn-otpravit">Список преподавателей</a> <br /> <br />
    <a asp-controller="AdminGroups" asp-action="Index" class="serch-btn btn-otpravit">Список групп</a> <br /><br />
    <a asp-controller="AdminDisciplines" asp-action="Index" class="serch-btn btn-otpravit">Список дисциплин</a> <br /><br />
    <a asp-controller="AdminStudent" asp-action="Index" class="serch-btn btn-otpravit">Список студентов</a> <br /><br />
</div>