<div>
    <h2>Добро пожаловать</h2>

    <hr />
    <a asp-controller="AdminTeacher" asp-action="Index">Список преподавателей</a> <br />
    <a asp-controller="AdminGroups" asp-action="Index">Список групп</a> <br />
    <a asp-controller="AdminDisciplines" asp-action="Index">Список дисциплин</a> <br />
    <a asp-controller="AdminStudent" asp-action="Index">Список студентов</a> <br />
</div>