@{
    List<Student> students = ViewData["Student"] != null ? (List<Student>)ViewData["Student"] : null;
}

<div>
    <h1>Личный кабинет учителя</h1>
    <hr />
    <h3>Добро пожаловать, @students.Select(a=>a.Surname).FirstOrDefault() @students.Select(a=>a.Name).FirstOrDefault() @students.Select(a=>a.Patronymic).FirstOrDefault()!</h3>

    <hr />

    <div>
        <a asp-action="ChooseTest">Список тестов</a>
        <a asp-action="AllResults">Результаты выполненных тестов</a>
    </div>

</div>