@{
    List<Test> tests = ViewData["Test"] != null ? (List<Test>)ViewData["Test"] : null;
    List<Result> results = ViewData["Result"] != null ? (List<Result>)ViewData["Result"] : null;
    List<Discipline> disciplines = ViewData["Discipline"] != null ? (List<Discipline>)ViewData["Discipline"] : null;
    List<Question> questions = ViewData["Question"] != null ? (List<Question>)ViewData["Question"] : null;

}

<div>
    <h1 class="question">Ваши результаты</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название теста
                </th>
                <th>
                    Предмет
                </th>
                <th>
                    Результат
                </th>
            </tr>
        </thead>
        @foreach(var item in tests)
        {
            if (results.Any(a => a.TestId == item.Id))
            {
                <tr>
                    <td>
                    @item.TestName
                </td>
                <td>
                    @disciplines.Where(a=>a.Id==item.DisciplineId).Select(a=>a.DisciplineName).FirstOrDefault()
                </td>
                <td>
                    @results.Where(a=>a.TestId==item.Id).Select(a=>a.Itog).FirstOrDefault() / @questions.Where(a=>a.TestId==item.Id).Count()
                </td>
            </tr>
            }
        }

    </table>

    <a asp-action="MainPageStudent" class="serch-btn btn-otpravit">Вернуться на главную</a>
</div>