@model DistanceEducation.Models.DisciplineTeacher;

@{
    List<Discipline> disciplines = ViewData["Discipline"] != null ? (List<Discipline>)ViewData["Discipline"] : null;
}

<div>
    <form asp-action="DeleteDiscipline">
        <label asp-for="DisciplineId">Выберите дисциплину</label>
        <select asp-for="DisciplineId">
            <option value="">Выберите дисциплину</option>
            @foreach (var item in disciplines)
            {
                        <option value="@item.Id">@item.DisciplineName</option>
            }
        </select>
        <button type="submit">Удалить</button>
    </form>
</div>